
/* .grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    display: flex;
    justify-content: space-between;
}

.email-list {
    grid-column-start: 1;
    grid-column-end: 4;
}

.preview-wrapper {
    grid-column-start: 5;
    grid-column-end: 12;
} */