.email-app{
    background-image: url("../img/background.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat: repeat;
    /* background: linear-gradient(to right, white, rgb(223, 221, 250), #209cee); */
}

.email-control-panel, .compose {
    margin: 5px;
}

input, button, .compose {
    margin-bottom: 5px;
}
input{
    background-color: whitesmoke;
}
.textarea {
    min-width: 100%;
    padding: 2px;
}

.subject {
    max-width: 50%;
}

.date {
    max-width: 14%;
}

.isRead {
    max-width: 10%;
}

.email-list {
    background: none;
    /* margin: 5px; */
    padding: 5px;
}


li.email.form-check.isRead{
    font-weight: normal;
 }

 li.email.form-check{
    font-weight: bold;
 }
 