@import './base.css';
@import './helpers.css';
@import './toggle-btn.css';
@import './user-msg.css';
@import './email.css';
@import './place.css';

.gothic {
    font-family: 'Gothic';
}

@font-face {
    font-family: 'The West Gate';
    src: url('../fonts/The West Gate.ttf');
}

.main-h1 {
    font-family: 'The West Gate';
    font-size: 60px;
    color:white;
}
/* .container {
    max-width: 1050px;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
} */

header{
    background-color: lightblue;
    text-align: center;
    height: 130px;
    background-image: url("../img/header_Background.jpg");
    background-size: cover;
    /* height: 100%; */
    width: 100%;
    background-repeat: repeat;
}

.app-container {
    background-image: url("../img/mainapp-background.jpg");
    background-position: center;
    background-size: cover;
    min-height: calc(100vh - 130px);
    /* width: 100%; */
    background-repeat: no-repeat;
}


.main-index a {
    font-weight: bold;
    font-size: 16px;
    color: aliceblue;
}

.about {
    font-family: 'Kaushan Script', cursive;
    color:darkblue;
    font-size: 25px;
    padding: 40px;
}

.img-about {
    margin-top: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 20px;
    border: 3px solid darkblue;
    box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

.app-scr{
    height: 230px;
    width: auto;
    border: 3px solid darkblue;
}
.link {
    color: darkblue;
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
}

img.app-scr{
    width: 490px;
}

.level-item:last-child(){
    margin-bottom: 0.75 rem;
}

/* nav.level-left.main-index{
    display: flex;
    align-items: center;
    justify-content: space-around;
} */

@media (min-width: 500px) {
    .app-scr{
        margin-top: 0%;
        margin-left: 2vw;
        margin-bottom: 3%; 
    }
  }

  @media (min-width: 774px) {
    .app-scr{
        margin-left: 0%;
        margin-top: 45%;
    }

    nav.level-left{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
  } 

  @media (min-width: 1024px) {
    .app-scr{
        margin-left: 1%;
    }
  } 

  @media (max-width: 760px) {
    div.columns{
        display: flex;
          flex-direction: column;
          align-items: center;
        }

    .about > p{
        margin-top: 30%;
    }

    a.link.level-item{
        color: darkblue;
    }

    /* nav.level-left.main-index{
        display: block;
    } */

     /* nav.level-left.main-index:last-child{
       margin-top: 10px;
    } */

    a.level-item{
        line-height: 1em;
    }

    .level-item:last-child{
        margin-bottom: 0.75 rem;
    }
    
    

  }

  

@media screen and (max-width: 768px){
   /* .level-item:not(:last-child) {
    margin-bottom: 0.75rem;
    
   } */

   .level-item:last-child{
       margin-bottom: 0.75rem;
   }
}

  @media (min-width: 761px) {
      
    /* nav.level-left.main-index{
        display: flex;
        align-items: center;
        justify-content: space-around;
    } */

    div.about>p{
        margin-top: 30%;
    }
  }

  @media (max-width: 414px) {
    nav.level-left.main-index{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    a.level-item{
        color: #4e4646d4;
    }

    header{
        height: 230px;
    }
  }

  @media (min-width: 415px) {

    nav.level-left.main-index{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
  }





  /* display: flex;
    align-items: center;
    justify-content: space-around; */

 
